@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1b1f4b;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary-50: oklch(0.958 0.0202 279.94);
  --color-primary-100: oklch(0.9221 0.0381 280.77);
  --color-primary-200: oklch(0.858 0.0696 280.35);
  --color-primary-300: oklch(0.7715 0.1131 278.95);
  --color-primary-400: oklch(0.6801 0.1583 276.93);
  --color-primary-500: oklch(0.6032 0.1916 274.77);
  --color-primary-600: oklch(0.5288 0.2157 272.04);
  --color-primary-700: oklch(0.4701 0.2033 271.53);
  --color-primary-800: oklch(0.4125 0.1661 272.14);
  --color-primary-900: oklch(0.372 0.1253 274.01);
  --color-primary-950: oklch(0.2635 0.0805 275.5);

  --color-accent-400: #7a85c1 --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-glass: rgba(255, 255, 255, 0.08);
  --color-text: #f8fafc;
  --color-text-dark: #121212;
  --color-light-dark: #18181b;

  --font-saira: 'Saira', sans-serif;
}
